.create--form {
  background-image: url("palmOilBg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto;
  overflow: hidden;
  width: 600px;
  height: 800px;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 18%;
  left: 30%;
  padding-top: 30px;
  padding-left: 80px;
}

.formInput {
  float: left;
  width: 410px;
  border: 0px;
  color: #25292e;
  background-color: white;
  padding: 10px 10px 10px 30px;
  font: 13px Nunito, sans-serif;
  margin-bottom: 20px;
}

.formLabel {
  display: block;
  float: left;
  width: 140px;
  padding-top: 11px;
  padding-bottom: 11px;
  font: 15px Nunito, sans-serif;
  font-weight: bolder;
}

button,
.create-btn {
  display: inline-block;
  background-color: #000;
  color: #fff;
  font-family: Nunito, sans-serif;
  letter-spacing: 2px;
  font-size: 15px;
  line-height: 20px;
  padding: 8px 16px;
  border: none;
  cursor: pointer;
}

.create-btn {
  margin-top: 27px;
  margin-left: 196px;
}

.cancel-btn {
  margin-left: 15.5px;
}
