* {
  margin: 0;
  padding: 0;
}

body {
  background-color: transparent;
}

.main-app {
  width: 100vw;
  height: 100vh;
  background-color: white;
  border-radius: 10px;
}

nav {
  -webkit-app-region: drag;
  border-radius: 8px 8px 0px 0px;
  user-select: none;
  width: 100vw;
  height: 6vh;
  background-color: #139487;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-link {
  border-radius: 6px;
  -webkit-app-region: no-drag;
  padding: 15px;
  cursor: pointer;
  font-size: 1.2rem;
}

.nav-link:hover {
  border-radius: 6px;
  background-color: white;
  color: #222;
}
