* {
  margin: 0;
  padding: 0;
}

::-webkit-scrollbar {
  display: none;
}

.main-app {
  width: 100vw;
  height: 100vh;
  background-color: white;
  overflow: scroll;
}

nav {
  -webkit-app-region: drag;
  user-select: none;
  width: 100vw;
  height: 43px;
  background-color: #139487;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
}

.nav-link {
  -webkit-app-region: no-drag;
  padding: 15px 15px 9px 15px;
  cursor: pointer;
  font-size: 1.2rem;
  transition: 0.15s;
  box-sizing: border-box;
}

.nav-link:hover {
  background-color: rgba(218, 218, 218, 0.856);
}

#sidebar {
  padding-bottom: 9.6px;
}

#resize {
  font-size: 1.6rem;
  padding-bottom: 8px;
}

#minimize {
  font-size: 1.4rem;
  text-align: center;
  padding-bottom: 8.7px;
}

#close-app {
  padding-bottom: 9.6px;
  font-size: 1.1rem;
}

#close-app:hover {
  background-color: #c00;
}
