.card {
  padding: 20px;
  height: 60vh;
  width: 20vw;
  margin: 3rem auto;
}

.icon {
  margin-top: 1rem;
  font-size: 4rem;
}

.text {
  color: red;
}

h1 {
  text-align: center;
  margin-top: 5rem;
}

.error {
  margin-top: 2rem;
  color: red;
  text-align: center;
  font-weight: bold;
  font-size: 1.1em;
}
