.addProcess {
  align-items: center;
  background-color: initial;
  background-image: linear-gradient(#464d55, #25292e);
  border-radius: 8px;
  border-width: 0;
  width: 400px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1), 0 3px 6px rgba(0, 0, 0, 0.05);
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  flex-direction: column;
  font-family: Nunito, sans-serif;
  font-size: 25px;
  font-weight: bold;
  height: 52px;
  justify-content: center;
  line-height: 1;
  margin: 20px;
  position: absolute;
  top: 40%;
  left: 47%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  outline: none;
  overflow: hidden;
  padding: 0 32px;
  text-align: center;
  text-decoration: none;
  transform: translate3d(0, 0, 0);
  transition: all 150ms;
  vertical-align: baseline;
  white-space: nowrap;
  z-index: -1;
}

.addForm {
  width: 500px;
  float: left;
}

.formLabel {
  display: block;
  float: left;
  width: 120px;
  padding-top: 11px;
  padding-bottom: 11px;
  font: 15px Nunito, sans-serif;
}

.formTextArea {
  float: right;
  border: 0px;
  width: 290px;
  height: 120px;
  padding: 10px 10px 10px 30px;
  font: 15px Nunito, sans-serif;
  color: #25292e;
  background-color: rgba(214, 205, 205, 0.986);
  resize: none;
  margin-right: 10px;
}

.broadcast {
  display: inline-block;
  background-color: #000;
  color: #fff;
  font-family: Nunito, sans-serif;
  letter-spacing: 2px;
  font-size: 15px;
  line-height: 20px;
  padding: 8px 16px;
  border: none;
  cursor: pointer;
  margin-top: 10px;
  margin-left: 373px;
}
