.card {
  padding: 25px;
  height: 44vh;
  width: 25vw;
  margin-top: 180px;
  margin-left: 70px;
}

.form {
  background-color: "white";
}

.icon {
  margin-top: 1rem;
  font-size: 4rem;
}

.text {
  color: red;
}

h1 {
  text-align: center;
  margin-top: 5rem;
}

.error {
  margin-top: 2rem;
  color: red;
  text-align: center;
  font-weight: bold;
  font-size: 1.1em;
}
